* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  background: url(../images/login_bg.jpg) no-repeat;
  background-size: cover;
}

.loginAndRegBox {
  width: 400px;
  height: 350px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.loginAndRegBox h4 {
  height: 50px;
  background: url(../images/login_title.png) no-repeat center;
}

.reg_wrap {
  display: none;
}
.layui-form {
  padding: 15px;
}
.layui-form input {
  margin: 10px 0;
}
#link_reg,
#link_login {
  text-align: right;
  margin-right: 20px;
  cursor: pointer;
}
.layui-form-item{
  position: relative;
}
.layui-icon{
  position: absolute;
  top: 10px;
  left: 8px;
}
.layui-form input {
  padding-left: 30px;
}